<h1>Register</h1>
<h5 [ngClass]="messageClass">{{message}}</h5>
<fieldset>
    <label>Username:</label>
    <input [(ngModel)]="username" required type="email" />
</fieldset>
<fieldset>
    <label>Password:</label>
    <input type="password" [(ngModel)]="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
</fieldset>
<fieldset>
    <label>Confirm:</label>
    <input type="password" [(ngModel)]="confirm" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
</fieldset>
<button class="btn btn-primary offset-2" (click)="register()">
    <i class="bi bi-person-fill-add"></i> Register
</button>

