<section *ngIf="!loginOk">
    <h1>Login</h1>
    <h5 [ngClass]="messageClass">{{message}}</h5>
    <fieldset>
        <label>Username:</label>
        <input [(ngModel)]="username" required />
    </fieldset>
    <fieldset>
        <label>Password:</label>
        <input type="password" [(ngModel)]="password" required />
    </fieldset>
    <button class="btn btn-primary offset-2" (click)="login()">
        <i class="bi bi-person-fill-lock"></i> Login
    </button>
</section>
<section *ngIf="loginOk">
    <h1>Verification Code</h1>
    <h5 [ngClass]="messageClass">{{message}}</h5>
    <fieldset>
        <label>Code:</label>
        <input [(ngModel)]="verificationCode" />
    </fieldset>
    <button class="btn btn-primary offset-1" (click)="verifyCode()">
        <i class="bi bi-person-fill-lock"></i> Validate
    </button>
</section>